.board-bg{
    background-image: url("https://www.247checkers.com/game/images/247/board.jpg");
    background-size: cover;
    height: 600px;
    width: 600px;
}

.board{
    
    
    display: grid;
    grid-template-columns: repeat(8, 12%);
    grid-template-rows: repeat(8, 12%);
    height: 600px;
    width: 600px;
}

