.error-box{
    width: 50vw;
    height: 40vh;
    /* background-image: linear-gradient(110.1deg,rgba(46,29,99,.4),#3d0f34);    */
    /* background-image: linear-gradient(110.1deg,rgb(33 38 46),#192136);  */
    background-color: hsl(250deg 21.43% 10.98%);
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-color: hsl(270deg 32.97% 51.83%); */
    /* border-color: #5381db; */
    border-color: #f92f2f;
    border-style: solid;
    box-shadow: rgb(255 0 0 / 15%) 0px 4px 24px;
    min-height: fit-content;
    padding: 2%;
}

@media (max-width: 1000px) {
    .error-box{
        padding: 25px;
        height: fit-content;
        width: 80vw;
    }
}
@media (max-height:753px) {
    .error-box{
        height: fit-content;
    }
}