.room-box{
    width: 50vw;
    height: 40vh;
    /* background-image: linear-gradient(110.1deg,rgba(46,29,99,.4),#3d0f34);    */
    /* background-image: linear-gradient(110.1deg,rgb(33 38 46),#192136);  */
    background-color: hsl(250deg 21.43% 10.98%);
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-color: hsl(270deg 32.97% 51.83%); */
    /* border-color: #5381db; */
    border-color: #6b5ba8;
    border-style: solid;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
}
.invalid-box{
    width: 50vw;
    height: 40vh;
    /* background-image: linear-gradient(110.1deg,rgba(46,29,99,.4),#3d0f34);    */
    /* background-image: linear-gradient(110.1deg,rgb(33 38 46),#192136);  */
    background-color: hsl(250deg 21.43% 10.98%);
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-color: hsl(270deg 32.97% 51.83%); */
    /* border-color: #5381db; */
    border-color: #e9b14a;
    border-style: solid;
    box-shadow: #e9b14a;
}
@media (max-width: 1000px) {
    .room-box{
        margin-top: 15%;
        width: 90vw;
        min-width: fit-content;
        height: fit-content;
        padding: 2%;
    }
    .invalid-box{
        padding: 25px;
        height: fit-content;
        width: 80vw;
    }
}
@media (max-width: 1000px) and (max-height:500px) {
    .room-box{
        margin-top: 3%;
    }
}
.code{
    width: fit-content;
    margin: auto;
    border: 5px;
    border: thick;
}

.board{
    max-width: 50%;
    margin: auto;
}